* {
    margin: 0;
    padding: 0;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
}

.card {
    margin: 1.5em;
}

.card>img {
    width: 100%;
}